@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;

}


.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it appears above other content */
    background-color: #fff; /* Set background color to avoid transparency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}


.slick-slide > div {
    margin: 0 10px;
}

.slick-next {
    right: -40px !important;
}

.slick-dots li.slick-active button:before{
    color: black !important;
}

.slick-dots li button:before {
    color: #fff !important;
    font-size: 2rem;
    top: 2rem;
}


