@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;

}

.wave-divider {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.wave-divider .shape-fill {
    fill: #A855F7;
}




.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it appears above other content */
    background-color: #fff; /* Set background color to avoid transparency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}


.slick-slide > div {
    margin: 0 10px;
}



.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: purple;
}



.custom-font{
    font-size: 2rem;
    font-weight: 300;
}

.arrow-container {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow-container:hover {
    transform: translateX(5px); /* Adjust the value to control the distance of the movement */
  }

  @media (min-width: 360px) {
    .xs\:ml-1 {
        margin-left: 0.25rem;

    }
}




